/* By Teo Hong Rui Freddy */

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'LilitaOne', sans-serif;
}

/* 
  Banner component 
*/
.banner {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'LilitaOne', sans-serif; /*custom font*/
}

.banner img {
  width: 100%;
  height: auto;
}

.bannertext {
  position: absolute;
  top: 20%;
  left: 10%; /* Adjust as needed */
  text-align: left; /* Align text to the left */
  color: #000000;
  padding: 10px;
}

.bannertext h1 {
  font-family: 'LilitaOne', sans-serif; /*custom font*/
  font-size: 11vw; /* Using viewport units for responsive font size */
  font-weight: 100;
  margin: 0;
}

.bannertext p {
  font-family: 'Nougat', sans-serif; /*custom font*/
  font-size: 3vw; /* Using viewport units for responsive font size */
  font-weight: 100;
  margin: 0;
}

.whitebox-container {
  width: 100%;
  display: flex;
  justify-content: left; /* Align left the whitebox */
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.whitebox {
  max-width: 100%; /* Set a maximum width for the whitebox */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 15px;
  background-color: white;
  text-align: center; /* Center the text inside the whitebox */
}

/* 
  Events component 
*/
.events_title {
  text-align: center;
  margin-top: 20px;
}

.events_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-image: url("https://preview.redd.it/zwqteuxul0d31.jpg?width=1080&crop=smart&auto=webp&s=574b6bd67bcb0f847101850d52e0d3f1a94e7bc8");
  background-size: cover;
}

.events_item {
  width: 45%; /* Adjust as needed */
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}

.events_item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.eventname {
  font-size: 2vw; /* Using viewport units for responsive font size */
  font-weight: bold;
  margin: 10px 0;
  font-family: 'LilitaOne', sans-serif;
}

.eventmode {
  font-size: 1.2vw; /* Using viewport units for responsive font size */
  margin-bottom: 10px;
  font-family: 'LilitaOne', sans-serif;
}

.eventinfo_title {
  font-size: 4vw; /* Using viewport units for responsive font size */
  text-align: center;
  font-family: 'LilitaOne', sans-serif; /*custom font*/
}

.mapname {
  font-family: 'LilitaOne', sans-serif; /*custom font*/
}

.eventinfo h2 {
  font-family: 'LilitaOne', sans-serif;
  font-size: 3.5vw; /* Using viewport units for responsive font size */
}

.eventinfo img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.eventinfo {
  background-color: aliceblue;
}

.eventMname {
  font-size: 3.5vw; /* Using viewport units for responsive font size */
  margin: 10px 0;
  font-family: 'LilitaOne', sans-serif;
}

.eventMmode {
  font-size: 2vw; /* Using viewport units for responsive font size */
  font-family: 'LilitaOne', sans-serif;
}

.modeImg {
  transform: scale(0.5);
}

@media screen and (max-width: 768px) {
  .whitebox {
    max-width: 80%; /* Adjust maximum width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .whitebox {
    max-width: 100%; /* Adjust maximum width for even smaller screens */
  }
}